<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cambio_Bolle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Cambio_Bolle.Properties.Settings>
            <setting name="codgrosSost1" serializeAs="String">
                <value />
            </setting>
            <setting name="codgrosSost2" serializeAs="String">
                <value />
            </setting>
            <setting name="codgrosSost3" serializeAs="String">
                <value />
            </setting>
            <setting name="codgrosSost4" serializeAs="String">
                <value />
            </setting>
            <setting name="codgrosSost5" serializeAs="String">
                <value />
            </setting>
            <setting name="codgrosSost6" serializeAs="String">
                <value />
            </setting>
            <setting name="codgrosNuovo1" serializeAs="String">
                <value />
            </setting>
            <setting name="codgrosNuovo2" serializeAs="String">
                <value />
            </setting>
            <setting name="codgrosNuovo3" serializeAs="String">
                <value />
            </setting>
            <setting name="codgrosNuovo4" serializeAs="String">
                <value />
            </setting>
            <setting name="codgrosNuovo5" serializeAs="String">
                <value />
            </setting>
            <setting name="codgrosNuovo6" serializeAs="String">
                <value />
            </setting>
            <setting name="check1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check7" serializeAs="String">
                <value>False</value>
            </setting>
        </Cambio_Bolle.Properties.Settings>
    </userSettings>
</configuration>
